@keyframes rightMoveCircle {
  0% {
  }
  70% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(180deg);
  }
}
@keyframes leftMoveCircle {
  0% {
    transform: translateX(0px) rotate(180deg);
  }
  70% {
    transform: translateX(0px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
  }
}
@keyframes rightMoveDrawer {
  0% {
  }
  70% {
    transform: translateX(95%);
  }
  100% {
    transform: translateX(95%);
  }
}
@keyframes leftMoveDrawer {
  0% {
    transform: translateX(95%);
  }
  70% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
.rightMoveCircle {
  animation: rightMoveCircle 1s ease-in-out;
  animation-fill-mode: forwards;
}
.leftMoveCircle {
  animation: leftMoveCircle 1s ease-in-out;
  animation-fill-mode: forwards;
}
.rightMoveDrawer {
  animation: rightMoveDrawer 1s ease-in-out;
  animation-fill-mode: forwards;
}
.leftMoveDrawer {
  animation: leftMoveDrawer 1s ease-in-out;
  animation-fill-mode: forwards;
}
