.right-sideBar {
  box-sizing: content-box;
  width: 25%;
  height: inherit;

  margin-right: 6.5%; /* 오른쪽으로 얼마나 이동할지 */

  position: relative;
}

.right-sideBar .clockBox {
  font-family: "MonteCarlo", cursive;

  color: #b9b5b3;
  opacity: 0.8;

  position: absolute;
  top: 12%;

  background-color: black;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-sideBar .clockBox .leftSide {
  background-color: red;

  width: 60%;
  height: 100%;
}
.right-sideBar .clockBox .rightSide {
  background-color: royalblue;
  font-size: 40px;
  width: 15%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.right-sideBar .clockBox .rightSide .h4 {
  padding: 50px 0;
}
.nowTime-HM {
  font-size: 10px;
}
