@import "reset.css";
@import "moveAni.css";
@import "right-side-bar.css";
@import "left-side-bar.css";
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: url("../img/myBgImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 98vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden; /* 버튼 눌렀을 때 삐져나옴 방지 */
}

/* blanchedalmond << 이 색깔 마음에 드넹 */
