@import "reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: url("../img/myBgImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 98vh;

  display: flex;
  flex-direction: row-reverse;
}
.sideBar {
  width: 18%;
  height: inherit;
}

.right-sideBar {
  background-color: white;
  opacity: 0.6;
  border-top-left-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
}
.right-sideBar .boxs {
  background-color: black;
  opacity: 0.3;
  border-radius: 30px;

  width: 90%;
  height: 20%;
}
.right-sideBar .switchSideBar {
  width: 70px;
  height: 110px;

  background-color: white;
  opacity: 0.6;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0%;
  margin-left: -70px;
}
.left-sideBar {
}
